.container-lang-button {
    grid-area: lang;
    display: flex;
    justify-content: center;
    align-items: center;
    & button {
        cursor: pointer;
        text-align: center;
        border: none;
        border-radius: 10rem;
        background: rgba(255, 255, 255, 0.3);
        color: #fff;        
        font-size: 1.4rem;
        height: 3.8rem;
        width: 3.8rem;
        outline-width: 0;
        &:hover {
            background: rgba(255, 255, 255, 0.5); 
        }
        &:active {
            color: #fff200;      
        }
    }
}


@media screen and (max-width: 480px) {
    .container-lang-button {
        & button {
            height: 3rem;
            width: 3rem;
            font-size: 1.2rem;
        }
    }
}