.container-temp {
    grid-area: temp;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content-temp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    #temp {
        font-size: 5rem;
        line-height: 5rem;
        height: 5rem;
    }
}

.content-button-temp {
    display: flex;
    flex-direction: column;
    font-size: 2rem; 
    padding: 0 1rem;   
    & button {
        border: none;
        color: #fff;
        background: inherit;
        cursor: pointer;
        outline-width: 0;  
        padding: 0.1rem 0.6rem;  
        &:active {
            color: #fff200;            
        }
    }
    & span {
        font-weight: 800;
        padding: 0.1rem 0.6rem;
    }
}

@media screen and (max-width: 480px) {
    .content-temp {
        #temp {
            font-size: 3.2rem;
            line-height: 3.2rem;
            height: 3.2rem;
        }
    } 
    .content-button-temp {
        font-size: 1.8rem;
    }
}