.container-search {
    grid-area: search;
    & input {
        background: rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 1);
        outline-width: 0;
        border: none;
        height: 100%;
        width: 100%;
        padding: 0 3rem;
        font-size: 1.6rem;
        &::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
    }    
}

// @media screen and (max-width: 768px) {

// }

@media screen and (max-width: 480px) {
    .container-search {
        & input {
            font-size: 1.2rem;
            padding: 0 1.5rem;
        }
    }
}