/* CSS librarys: */
@import "../node_modules/normalize.css/normalize.css";

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/montserrat-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('./fonts/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/montserrat-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/montserrat-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/montserrat-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/montserrat-v13-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

html {
    line-height: 1.4rem;
    font-size: 10px;    
    height: 100%;
}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 